* {
    box-sizing: border-box;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

}

body, html {
    background-color: #d9dcd6;
    height: 100%;
}


.item p {
    font-size: 36px;
    color: hsl(201, 16%, 21%);
    background-color: rgb(132, 209, 216);
    
}

.item a{
    color: rgb(132, 209, 216);
    margin-left:30px;
    font-size: 20px;;
}


.header {
    display: flex;
    flex-direction: row;
    align-items: flex-end;
    padding: 4px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color:hsl(201, 16%, 21%);

}


.divider {
    display: flex;
    flex: 1;
}

.hero-image {
  /* Use "linear-gradient" to add a darken background effect to the  */
    background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../images/profilepic.jpeg");
    height: 78%;
 /* Position and center the image to scale nicely on all screens */
    background-position-x:center;
    background-position-y:0rem;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
  
  /* Place text in the middle of the image */

.hero-text {
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
}


/* attempt to use grid areas */
.grid-container {
    display: grid;
    grid-template-areas:
       'menu main main main main main'
       'menu main main main main main';
    grid-row-end: auto;
    gap: 1px;
    background-color:hsl(201, 16%, 21%);
    padding: 10px;
}


.item1 { 
    grid-area: menu;
    margin-right: 5px; 
}
.item2 { 
    grid-area: main; 
}
        
.grid-container div {
    background-color: rgba(255, 255, 255, 0.8);
    text-align: center;
    padding: 20px 0;
    font-size: 30px;
}

.grid-container div img{
    max-width: 700px;
}


/* attempt to use grid */
.grid-container2{

    display: grid;
    grid-template-columns: 300px 250px;
    justify-content: center;
    grid-template-rows: (150px, auto);
    object-fit: contain;
    grid-gap:5rem;
    margin-top: 30px;
    margin-bottom: 30px;
    background-color: #d9dcd6;
}

.grid-container2 div img{
    
    max-width:100%;
    max-height:100%;
    display: block;

}

.grid-container div img,
.grid-container2 div img:hover{
    cursor: pointer;
}

h3{
    text-align: center;
}
